snippet eg
---
type: Seedling
up:
aliases:
---

$1

## References

## See Also

## Unrequited Children
```dataview
LIST
FROM [[#]]
AND !outgoing([[#]])
WHERE up = [[]]
```
endsnippet

snippet '
’
endsnippet

snippet ''
‘$1’
endsnippet

snippet "
“$1”
endsnippet
