snippet eg
Effect.gen(function* () {
	$1
})
endsnippet

snippet ie
import * as $1 from 'effect/$1'
endsnippet

snippet iee
import * as Effect from 'effect/Effect'
endsnippet

snippet ieo
import * as O from 'effect/Option'
endsnippet

snippet ies
import * as S from 'effect/Schema'
endsnippet

snippet ic
import $1 from '$lib/components/$1.svelte'
endsnippet

snippet c
<script lang="ts">
import Debug from '$lib/components/Debug.svelte'

interface Props {
	value: string
}

const {value}: Props = $props()
</script>

<div class="todo">
	<Debug {value} />
</div>

<style>
.todo {
	border: 1px solid red;
}
</style>
endsnippet

snippet sl
import '@shoelace-style/shoelace/dist/components/$1/$1.js';
endsnippet

snippet snip
{#snippet $1()}
	$2
{/snippet}
endsnippet

snippet page
<script lang="ts">
import Debug from "$lib/components/Debug.svelte";
import type { PageProps } from "./$types";

const { data }: PageProps = $props();
</script>

<div class="todo">
	<Debug value={data} />
</div>

<style>
.todo {
	border: var(--border-1) solid blue;
}
</style>

endsnippet
