snippet eg
Effect.gen(function* () {
	$1
})
endsnippet

snippet ie
import * as $1 from 'effect/$1'
endsnippet

snippet iee
import * as Effect from 'effect/Effect'
endsnippet

snippet ieo
import * as O from 'effect/Option'
endsnippet

snippet ies
import * as S from 'effect/Schema'
endsnippet

snippet ic
import $1 from '$lib/components/$1.svelte'
endsnippet
