snippet eg
Effect.gen(function* (_) {
	$1
})
endsnippet

snippet yy
yield* _($1)
endsnippet

snippet iv
import { describe, expect, it } from 'vitest'
endsnippet

snippet em
Effect.map($1)
endsnippet

snippet efm
Effect.flatMap($1)
endsnippet

snippet noany
// eslint-disable-next-line @typescript-eslint/no-explicit-any
endsnippet
